@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Luxurious+Roman&display=swap');


* {
    background-color: #f7f7f7;
    margin: 0 auto;
}
h1 {
    font-family: 'Gideon Roman', 'Luxurious Roman';
    text-align: center;
    font-size: 55px;
    color: #36013f;
    margin: 10px;
}
.shake {
    animation: shake 1s;
}
@keyframes shake {
    0% { transform: translate(4px, 4px) rotate(0deg); }
    10% { transform: translate(-4px, -4px) rotate(-1deg); }
    20% { transform: translate(-7px, 0px) rotate(1deg); }
    30% { transform: translate(7px, 4px) rotate(0deg); }
    40% { transform: translate(4px, -4px) rotate(1deg); }
    50% { transform: translate(-4px, 4px) rotate(-1deg); }
    60% { transform: translate(-7px, 4px) rotate(0deg); }
    70% { transform: translate(7px, 4px) rotate(-1deg); }
    80% { transform: translate(-4px, -4px) rotate(1deg); }
    90% { transform: translate(4px, 4px) rotate(0deg); }
    100% { transform: translate(4px, -4px) rotate(-1deg); }
  }
#go {
    font-family: 'Gideon Roman', 'Luxurious Roman';
    display: flex;
    flex-direction: row;
    padding: 2px;
    margin-top: 2%;
    font-size: 20px;
    border-radius: 5px;
}
#question {
    font-family: 'Gideon Roman', 'Luxurious Roman';
    text-align: center;
    font-size: 30px;
}
#input {
    position: relative;
    display: block;
    margin: 10px auto;
    top: 10px;
    border-radius: 5px;
    border: gray 2px solid;
    width: 200px;
    height: 25px;
}
div img {
    position: relative;
    left: 25%;
    top: 30px;
    width: 50%;
    height: 50%;
    background-color: #fff;
    opacity: 80%;
}
  
